/* TUMBLEWEED */

.tumbleweed {
  opacity: 0;
  position: absolute;
  margin-top: 120px;
  right: 0;
}

.present .tumbleweed {
  animation: tumbleweed 3s linear infinite;
}

@keyframes tumbleweed {
  0% {
    opacity: 0;
    transform: rotate(0);
  }

  25% {
    opacity: 1;
    transform: translate(-200px, -25px) rotate(-179deg);
  }

  50% {
    transform: translate(-400px, 0) rotate(-360deg);
  }

  75% {
    opacity: 1;
    transform: translate(-600px, -25px) rotate(-539deg);
  }

  100% {
    opacity: 0;
    transform: translate(-800px, 0) rotate(-719deg);
  }
}

/* FLOAT */

.present .float {
  animation: float 5s infinite;
}

@keyframes float {
  0%, 100% {
    transform: none;
  }

  50% {
    transform: translateY(50px);
  }

}

/* IMAGES SLIDE UP */
.images-slide-up {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 50px;
}

.images-slide-up.two-per-row img {
  flex: 0 300px;
  margin: 10px;
  height: 300px;
}

.present .images-slide-up img {
  animation: jump-up-then-down 2s ease;
}

.images-slide-up img:nth-child(1) { animation-delay: 0.2s; }
.images-slide-up img:nth-child(2) { animation-delay: 0.4s; }
.images-slide-up img:nth-child(3) { animation-delay: 0.6s; }
.images-slide-up img:nth-child(4) { animation-delay: 0.8s; }
.images-slide-up img:nth-child(5) { animation-delay: 1s; }

@keyframes jump-up-then-down {
  0%, 100% {
    transform: none;
  }

  25%,75% {
    transform: translate(0, -50px);
  }
}


/* LIST SLIDE UP */

.present .list-slide-up li {
  opacity: 0;
  animation: fade-in-bottom 1s ease;
  animation-fill-mode: forwards;
}

.list-slide-up li:nth-child(1) { animation-delay: 0.2s; }
.list-slide-up li:nth-child(2) { animation-delay: 0.4s; }
.list-slide-up li:nth-child(3) { animation-delay: 0.6s; }
.list-slide-up li:nth-child(4) { animation-delay: 0.8s; }
.list-slide-up li:nth-child(5) { animation-delay: 1s; }
.list-slide-up li:nth-child(6) { animation-delay: 1.2s; }
.list-slide-up li:nth-child(7) { animation-delay: 1.4s; }
.list-slide-up li:nth-child(8) { animation-delay: 1.6s; }
.list-slide-up li:nth-child(9) { animation-delay: 1.8s; }
.list-slide-up li:nth-child(10) { animation-delay: 2s; }

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translate(0, 3em);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
